/*--GENERAL FONT SPECIFICATIONS--*/
.cookie-regular {
    font-family: "Cookie", cursive;
    font-weight: 400;
    font-style: normal;
}

.rubik-distressed-regular {
    font-family: "Rubik Distressed", system-ui;
    font-weight: 400;
    font-style: normal;
}

.montserrat-alternates-thin {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.montserrat-alternates-extralight {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.montserrat-alternates-light {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.montserrat-alternates-regular {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.montserrat-alternates-medium {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.montserrat-alternates-semibold {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.montserrat-alternates-bold {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.montserrat-alternates-extrabold {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.montserrat-alternates-black {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.montserrat-alternates-thin-italic {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.montserrat-alternates-extralight-italic {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.montserrat-alternates-light-italic {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.montserrat-alternates-regular-italic {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.montserrat-alternates-medium-italic {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.montserrat-alternates-semibold-italic {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.montserrat-alternates-bold-italic {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.montserrat-alternates-extrabold-italic {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.montserrat-alternates-black-italic {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 900;
    font-style: italic;
}

h1 {
    font-family: "Cookie", cursive;
    font-weight: 400;
    font-style: normal;
}

h2 {
    font-family: "Rubik Distressed", system-ui;
    font-weight: 400;
    font-style: normal;
}

h3 {
    font-family: "Rubik Distressed", system-ui;
    font-weight: 400;
    font-style: normal;
}

h4 {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h5 {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 300;
    font-style: normal;
}

p {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.6rem;
}

a {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*--GENERAL STYLING--*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --scale: clamp(0.9rem, 1.2vw + 0.5rem, 1.2rem);
    --hero-scale: clamp(1rem, 2vw + 1rem, 3rem);
    --sticky-header-offset: calc(var(--scale) * 5.45);
    --endorsement-heading-size: clamp(calc(var(--scale) * 2), 4vw, calc(var(--scale) * 3));
    --endorsement-heading-padding: clamp(calc(var(--scale) * 2), 4vw, calc(var(--scale) * 3));
}

html {
    font-size: 16px;
    width: 100%;
}

body {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: hsla(100, 15%, 35%, 100%);
}

/*--PAGE HERO--*/
.home-pagehero-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 65vh;
    padding: 0;
    margin: 0;
    background-image: url(flagstaff.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.home-pagehero {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
}

.home-pagehero-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 35vh;
    width: 100%;
    padding: 0 calc(var(--scale) * 2);
}

.home-pagehero-logo h1 {
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: calc(var(--hero-scale) * 3);
}

.home-pagehero-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 11vh;
    width: 100%;
    padding: 0 calc(var(--scale) * 2);
}

.home-pagehero-text h2 {
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: calc(var(--hero-scale) * 1.25);
    color: hsl(0, 0%, 60%, 100%);
}

@media only screen and (max-height: 480px) and (orientation: landscape) {
    .home-pagehero-container {
        height: 80vh;
    }

    .home-pagehero-logo {
        bottom: 42vh;
    }

    .home-pagehero-text {
        bottom: 4vh;
    }
}

@media only screen and (min-width: 1024px) and (orientation: landscape) {
    .home-pagehero-container {
        height: 80vh;
    }

    .home-pagehero-logo {
        bottom: 40vh;
    }

    .home-pagehero-logo h1 {
        font-size: calc(var(--hero-scale) * 4)
    }

    .home-pagehero-text {
        bottom: 15vh;
    }
}

/*--HEADER--*/
    /*--GLOBAL HEADER STYLING--*/
    .global-header {
        position: sticky;
        top: 0;
        z-index: 10;
        width: 100%;
        height: auto;
        padding: calc(var(--scale) * 2) calc(var(--scale) * 1) 0;
        margin: 0;
    }

    .navbar-content {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        position: relative;
        width: 100%;
        height: auto;
        padding: calc(var(--scale) * 0.75) calc(var(--scale) * 1.5);
        margin: 0;
        border: none;
        border-radius: calc(var(--scale) * 2);
        background-color: hsla(100, 15%, 20%, 90%);
    }

    .logo {
        width: auto;
        height: auto;
        padding: 0;
        margin: 0;
    }

    .logo a {        
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0;
        text-decoration: none;
        font-family: "Cookie", cursive; 
        font-size: calc(var(--scale) * 1.75);
        font-weight: 400;
        font-style: normal;
        color: hsl(0, 0%, 55%, 100%);
    }

    .logo a:link {
        color: hsl(0, 0%, 55%, 100%);
    }

    .logo a:visited {
        color: hsl(0, 0%, 55%, 100%);
    }

    .logo a:hover {
        color: hsl(0, 0%, 45%, 100%);
        cursor: pointer;
    }

    .logo a:active {
        text-shadow: 1px 1px 0;
        color: hsla(100, 15%, 35%, 100%);
        cursor: pointer;
    }

    nav {
        width: auto;
        height: auto;
        margin: 0;
        padding: 0;
    }

    details summary {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 10;
        width: 100%;
        height: auto;
        padding: calc(var(--scale) * 0.25) calc(var(--scale) * 0.75);
        margin: 0;
        text-align: center;
        list-style-type: none;
        font-family: "Montserrat Alternates", sans-serif;
        font-size: calc(var(--scale) * 1);
        font-weight: 300;
        font-style: normal;
        color: hsl(0, 0%, 55%, 100%);
        cursor: pointer;
    }

    details summary:hover {
        padding: calc(var(--scale) * 0.25) calc(var(--scale) * 0.75);
        border: none;
        border-radius: calc(var(--scale) * 1);
        color: hsl(0, 0%, 5%, 100%);
        background-color: hsla(100, 15%, 35%, 100%);
    }

    details summary:active {
        transform: translateX(2px) translateY(2px);
        box-shadow: inset 0 3px 5px rgba(0,0,0,0.2);
        color: hsla(100, 0%, 5%, 100%);
        cursor: pointer;
    }

    details[open] .nav-links {
        opacity: 0.95;
        pointer-events: auto;
        transform: translateY(0);
        transition: 0.5s ease;
    }
    
    .nav-links {
        position: absolute;
        top: calc(100% + calc(var(--scale) * 1));
        right: calc(var(--scale) * 1);
        z-index: 10;
        width: max-content;
        min-width: 5rem;
        height: auto;
        padding: calc(var(--scale) * 0.5);
        margin: 0;
        list-style-type: none;
        border-radius: calc(var(--scale) * 1.5);
        background-color: hsla(100, 15%, 20%, 90%);
        opacity: 0;
        pointer-events: none;
        transform: translateY(-10px);
        transition: 0.5s ease;
    }

    .nav-links li {
        width: auto;
        height: auto;
        padding: 0;
        margin: calc(var(--scale) * 0.5) 0;
        text-align: center;
    }

    .nav-links a {
        width: 100%;
        height: auto;
        padding: calc(var(--scale) * 0.25) calc(var(--scale) * 0.5);
        text-decoration: none;
        font-family: "Montserrat Alternates", sans-serif;
        font-size: calc(var(--scale) * 0.75);
        color: hsl(0, 0%, 55%, 100%);
    }

    .nav-links a:active {
        color: hsl(0, 0%, 55%, 100%);
    }

    .nav-links a:link {
        color: hsl(0, 0%, 55%, 100%);
    }

    .nav-links a:hover {
        padding: calc(var(--scale) * 0.25) calc(var(--scale) * 0.5);
        border: none;
        border-radius: calc(var(--scale) * 1);
        color: hsl(0, 0%, 5%, 100%);
        background-color: hsla(100, 15%, 35%, 100%);
        cursor: pointer;
    }

    .nav-links a:active {
        transform: translateX(2px) translateY(2px);
        box-shadow: inset 0 3px 5px rgba(0,0,0,0.2);
        color: hsla(100, 0%, 5%, 100%);
        cursor: pointer;
    }

/*--START OF HOME PAGE--*/
    /*--INTRO--*/
    .intro {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0;
    }

    .meet-courtney {
        display: flex;
        justify-content: center;
        position: sticky;
        top: calc(var(--scale) * 5.45);
        width: 100%;
        height: auto;
        padding: calc(var(--scale) * 2);
    }

    .meet-courtney h2 {
        padding: 0;
        margin: 0;
        text-align: center;
        font-size: calc(var(--scale) * 2.25);
        color:hsl(0, 0%, 15%, 100%)
    }
    
    .intro-container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: sticky;
        top: calc(var(--scale) * 12.125);
        width: 100%;
        max-width: 27rem;
        height: auto;
        padding: 0 calc(var(--scale) * 2) calc(var(--scale) * 2);
    }

    .intro-photo {
        width: 100%;
        max-width: 27rem;
        height: auto;
        border: none;
        border-radius: 2rem;
        background-color: hsla(100, 15%, 20%, 100%);
    }

    .intro-photo img {
        width: 100%;
        height: auto;
        padding: 2rem 0 0;
        border-radius: 2rem;
    }

    .intro-text {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        width: 100%;
        max-width: 23rem;
        height: auto;
        padding: calc(var(--scale) * 1);
        margin: 0;
        border: none;
        border-radius: 2rem;
        line-height: 1.6rem;
        background-color:hsla(100, 15%, 20%, 100%);
    }

    .intro-text p {
        padding: calc(var(--scale) * 0.5);
        margin: 0;
        font-size: calc(var(--scale) * 1);
        color: hsl(0, 0%, 60%, 100%);
    }

    .intro-link-container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
    }

    .intro-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: max-content;
        height: auto;
        padding: calc(var(--scale) * 0.5);
    }
    
    .intro-link p {
        text-align: center;
    }
    
    .intro-link a {
        padding: calc(var(--scale) * 0.5) calc(var(--scale) * 1);
        border: none;
        border-radius: calc(var(--scale) * 1.5);
        text-align: center;
        text-decoration: none;
        background-color: hsla(100, 15%, 35%, 100%);
        color: hsl(0, 0%, 5%, 100%);
    }

    .intro-link a:link {
        color: hsl(0, 0%, 5%, 100%);
    }

    .intro-link a:visited {
        color: hsl(0, 0%, 5%, 100%);
    }

    .intro-link a:hover {
        color: hsl(0, 0%, 60%, 100%);
        background-color: hsla(100, 15%, 30%, 100%);
        cursor: pointer;
    }

    .intro-link a:active {
        transform: translateX(2px) translateY(2px);
        box-shadow: inset 0 3px 5px rgba(0,0,0,0.2);
        cursor: pointer;
    }

    @media only screen and (min-width: 1024px) {
        .intro {
            display: grid;
            grid-template-rows: auto auto;
            grid-template-columns: auto auto;
            justify-content: center;
            width: 100%;
            height: auto;
            padding-top: 3rem;
        }

        .meet-courtney {
            grid-row: 1 / 2;
            grid-column: 1 / 2;
            position: static;
            padding: 2rem 0 0 0;
            margin: 0;
        }

        .meet-courtney h2 {
            font-size: calc(var(--scale) * 2.5);
        }

        .intro-container {
            position: static;
            padding: 0;
            margin: 0;
        }

        #intro-container-photo {
            display: flex;
            justify-content: flex-end;
            grid-row: 2 / 3;
            grid-column: 1 / 2;
            width: 100%;
            min-width: 31rem;
            height: auto;
            padding: calc(var(--scale) * 2);
        }

        .intro-photo {
            display: flex;
            justify-content: flex-end;
            width: 100%;
            min-width: 27rem;
            height: 100%;
            margin: 0;
        }

        .intro-photo img {
            min-width: 27rem;
        }

        #intro-container-text {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: stretch;
            grid-row: 1 / 3;
            grid-column: 2 / 3;
            width: 100%;
            min-width: 31rem;
            height: auto;
            padding: calc(var(--scale) * 2);
        }

        .intro-text {
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
            width: 100%;
            min-width: 27rem;
            height: 41.5rem;
            margin: 0;
        }
    }

    /*--SERVICES--*/
    .services {
        display: flex;
        flex-flow: column nowrap;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .specialties {
        display: flex;
        flex-flow: column nowrap;
        position: sticky;
        top: calc(var(--scale) * 5.45);
        z-index: 1;
        width: 100%;
        padding: 0;
        margin: 0;
        background-color: hsla(100, 15%, 35%, 100%);
    }

    .specialties h2 {
        text-align: center;
        padding: 2rem 2rem 0 2rem;
        margin: 0;
        font-size: calc(var(--scale) * 2.5);
        color: hsl(0, 0%, 15%, 100%);
    }

    .specialties-list {
        display: flex;
        justify-content: center;
        width: 100%;
        height: auto;
    }

    .specialties-list ul {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        max-width: 31rem;
        padding: 1rem 2rem;
        margin: 0;
        list-style-type: none;
    }

    .specialties-list li {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 6rem;
        padding: 0.75rem;
        border-radius: 1rem;
        background-color: hsla(100, 15%, 20%, 100%);
        font-family: "Montserrat Alternates", sans-serif;
        font-size: calc(var(--scale) * 1);
        font-weight: 300;
        font-style: normal;
        color: hsl(0, 0%, 60%, 100%);
    }

    .modalities {
        display: flex;
        flex-flow: column nowrap;
        position: sticky;
        top: calc(var(--scale) * 5.45);
        z-index: 2;
        width: 100%;
        padding: 0;
        margin: 0;
        background-color: hsla(100, 15%, 35%, 100%);
    }

    .modalities h2 {
        text-align: center;
        padding: 2rem 2rem 0 2rem;
        margin: 0;
        font-size: calc(var(--scale) * 2.5);
        color: hsl(0, 0%, 15%, 100%);
    }

    .modalities-list {
        display: flex;
        justify-content: center;
        width: 100%;
        height: auto;
    }

    .modalities-list ul {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        width: 100%;
        max-width: 31rem;
        padding: 1rem 2rem;
        margin: 0;
        list-style-type: none;
    }

    .modalities-list li {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 6rem;
        padding: calc(var(--scale) * 0.75);
        border-radius: 1rem;
        background-color: hsla(100, 15%, 20%, 100%);
        font-family: "Montserrat Alternates", sans-serif;
        font-size: calc(var(--scale) * 1.5);
        font-weight: 300;
        font-style: normal;
        color: hsl(0, 0%, 60%, 100%);
    }

    .services-links {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        position: sticky;
        top: calc(var(--scale) * 5.45);
        z-index: 3;
        width: 100%;
        height: auto;
        background-color: hsla(100, 15%, 35%, 100%);
    }

    .services-links h4 {
        text-align: center;
        padding: calc(var(--scale) * 2) calc(var(--scale) * 1) calc(var(--scale) * 1);
        margin: 0;
        font-size: clamp(calc(var(--scale) * 2), 5vw, calc(var(--scale) * 3));
    }

    .link-container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        padding: 0 calc(var(--scale) * 1) calc(var(--scale) * 1);
        margin: 0;
    }

    .services-link-container, .schedule-link-container {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        width: max-content;
        min-width: calc(var(--scale) * 8);
        max-width: calc(var(--scale) * 13);
        height: auto;
        min-height: calc(var(--scale) * 13);
        padding: calc(var(--scale) * 1);
        border: calc(var(--scale) * 0.5) solid hsla(100, 15%, 20%, 100%);
        border-radius: calc(var(--scale) * 2);
        margin: calc(var(--scale) * 1);
    }

    .link-container p {
        padding-bottom: clamp(calc(var(--scale) * 1), 3vw, calc(var(--scale) * 2));
        margin: 0;
        text-align: center;
        font-size: clamp(calc(var(--scale) * 0.75), 3vw, calc(var(--scale) * 1.5));
    }

    .link-container a {
        width: max-content;
        height: auto;
        padding: calc(var(--scale) * 0.75) calc(var(--scale) * 1.25);
        border: none;
        border-radius: calc(var(--scale) * 1.5);
        text-align: center;
        text-decoration: none;
        font-size: clamp(calc(var(--scale) * 0.75), 2vw, calc(var(--scale) * 1));
        color: hsl(0, 0%, 60%, 100%);
        background-color: hsla(100, 15%, 20%, 100%);
    }

    .link-container a:link {
        color: hsl(0, 0%, 60%, 100%);
    }

    .link-container a:visited {
        color: hsl(0, 0%, 60%, 100%);
    }

    .link-container a:hover {
        background-color: hsla(100, 15%, 25%, 100%);
        color: hsl(0, 0%, 60%, 100%);
    }

    .link-container a:active {
        transform: translateX(2px) translateY(2px);
        box-shadow: inset 0 3px 5px rgba(0,0,0,0.2);
    }

    .services h3 {
        align-items: center;
        z-index: 3;
        text-align: center;
        width: 100%;
        height: auto;
        padding: calc(var(--scale) * 1);
        margin: 0;
        font-size: clamp(0.75rem, 4vw, 2.5rem);
        color: hsl(0, 0%, 15%, 100%);
        background-color: hsla(100, 15%, 35%, 100%);
    }

    .services-individual-container {
        position: sticky;
        top: 0;
        z-index: 3;
        width: 100%;
        height: 55%;
        min-height: 25rem;
        background-image: url(bridge.jpeg);
        background-position: bottom;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .services-individual-container::before {
        content: "";
        position: absolute;
        inset: 0;
        background: rgba(255, 255, 255, 0.2);
        z-index: 1;
        pointer-events: none;
    }

    .services-individual {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-end;
        width: 100%;
        height: 55%;
        min-height: 25rem;
        backdrop-filter: blur(4px);
    }

    .services-individual-text {
        width: 100%;
        height: auto;
    }

    .services-individual-text .ready {
        width: 100%;
        height: auto;
        padding-bottom: calc(var(--scale) * 11);
    }

    .services-individual h4 {
        width: 100%;
        height: auto;
        padding: calc(var(--scale) * 1) 0;
        margin: 0;
        text-align: center;
        font-size: calc(var(--scale) * 2);
        color: hsl(0, 0%, 5%, 100%);
    }

    .services-individual h5 {
        width: 100%;
        height: auto;
        padding: 0 2rem;
        margin: 0;
        text-align: center;
        font-size: calc(var(--scale) * 1.5);
        color: hsl(0, 0%, 5%, 100%);
    }

    .services-individual .book-now {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        padding-bottom: calc(var(--scale) * 2.25);
    }

    .services-individual a {
        padding: calc(var(--scale) * 0.75) calc(var(--scale) * 1.25);
        border: none;
        border-radius: 2rem;
        text-decoration: none;
        font-size: clamp(0.75rem, 2.5vw, 1.25rem);
        background-color: hsla(100, 15%, 20%, 95%);
        color:hsl(0, 0%, 60%, 100%);
    }

    .services-individual a:link {
        color:hsl(0, 0%, 60%, 100%)
    }

    .services-individual a:visited {
        color:hsl(0, 0%, 60%, 100%)
    }

    .services-individual a:hover {
        color: hsl(0, 0%, 5%, 100%);
        background-color: hsla(100, 15%, 35%, 95%);
        cursor: pointer;
    }

    .services-individual a:active {
        transform: translateX(2px) translateY(2px);
        box-shadow: inset 0 3px 5px rgba(0,0,0,0.2);
        cursor: pointer;
    }

    .services-desktop-tablet {
        display: none;
    }

    @media only screen and (min-width: 720px) {
        .services-desktop-tablet {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            width: 100%;
            height: auto;
        }

        .offered-services-container {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            position: sticky;
            top: calc(var(--scale) * 5.45);
            width: 100%;
            height: auto;
            padding: 3rem;
        }

        .offered-services {
            display: grid;
            grid-template-rows: auto;
            grid-template-columns: 1fr 1fr;
            justify-content: center;
            align-self: center;
            max-width: 58rem;
            padding: 1rem 1rem 2rem 1rem;
            border: 1rem solid hsla(100, 15%, 20%, 100%);
            border-radius: 3rem;
            background-color: hsla(100, 15%, 35%, 100%);
        }

        .specialties {
            grid-row: 1 / 2;
            grid-column: 1 / 2;
            position: static;
        }
        
        .specialties h2 {
            padding: 1rem;
        }

        .specialties-list ul {
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: auto auto;
            justify-content: center;
            gap: clamp(0.5rem, 1.75vw, 1rem);
            padding: 0 calc(var(--scale) * 2);
        }

        .specialties-list li {
            min-width: 7.5rem;
            min-height: 7.5rem;
            padding: calc(var(--scale) * 0.75);
            margin: 0;
            font-size: calc(var(--scale) * 1);
        }

        .modalities {
            grid-row: 1 / 2;
            grid-column: 2 / 3;
            position: static;
        }

        .modalities h2 {
            padding: 1rem;
        }

        .modalities-list ul {
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: auto auto;
            justify-content: center;
            justify-self: center;
            gap: clamp(0.5rem, 1.75vw, 1rem);
            padding: 0 calc(var(--scale) * 2);
        }

        .modalities-list li {
            min-width: 7.5rem;
            min-height: 7.5rem;
            padding: calc(var(--scale) * 0.75);
            margin: 0;
            font-size: calc(var(--scale) * 1.25);
        }

        .services-desktop-tablet h3 {
            grid-row: 2 / 3;
            grid-column: 1 / 3;
            text-align: center;
            z-index: 3;
            width: 100%;
            height: auto;
            padding: calc(var(--scale) * 1.25);
            margin: 0;
            font-size: clamp(0.75rem, 4vw, 2.25rem);
            color: hsl(0, 0%, 15%, 100%);
            background-color: hsla(100, 15%, 35%, 100%);
        }

        .services-individual-container {
            grid-row: 3 / 4;
            grid-column: 1 / 3;
            z-index: 3;
            height: 70%;
            min-height: 32rem;
            backdrop-filter: blur(4px);
        }

        .services-individual {
            width: 100%;
            height: 70%;
            min-height: 32rem;
        }

        .services-individual-text {
            width: 100%;
            height: auto;
        }

        .services-individual-text .ready {
            padding-bottom: calc(var(--scale) * 14);
        }

        .services-individual h4 {
            font-size: calc(var(--scale) * 2.25);
        }

        .services-individual h5 {
            font-size: calc(var(--scale) * 1.75);
        }

        .services {
            display: none;
        }
    }

/*--ENDORSEMENTS--*/
    .endorsement {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
    }

    .endorsement h2 {
        position: sticky;
        top: var(--sticky-header-offset);
        z-index: 1;
        padding: var(--endorsement-heading-padding);
        margin: 0;
        font-size: var(--endorsement-heading-size);
        color: hsl(0, 0%, 15%, 100%)
    }

    .endorsement-container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: sticky;
        top: calc(var(--sticky-header-offset) + calc(var(--endorsement-heading-padding) * 2) + var(--endorsement-heading-size) + calc(var(--scale) * 0.35));
        z-index: 2;
        width: 100%;
        height: auto;
        padding: 0 calc(var(--scale) * 2) calc(var(--scale) * 2);
    }

    .endorsement-text {
        min-width: 16rem;
        max-width: 50rem;
        max-height: 25rem;
        padding: 1rem 2rem;
        margin: 0;
        border: none;
        border-radius: 2rem;
        background-color: hsla(100, 15%, 20%, 100%);
    }

    .endorsement-text h4 {
        padding: 1rem 0;
        margin: 0;
        color:hsl(0, 0%, 60%, 100%);
        font-size: calc(var(--scale) * 1.25);
    }

    .endorsement-text p {
        padding: 1rem 0;
        margin: 0;
        line-height: 1.5rem;
        font-size: calc(var(--scale) * 0.75);
        color:hsl(0, 0%, 60%, 100%)
    }

    /*--INSURANCE--*/
    .insurance {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        padding: 2rem;
    }

    .insurance h3 {
        align-items: center;
        text-align: center;
        width: 100%;
        height: auto;
        padding: calc(var(--scale) * 1) 0;
        margin: 0;
        font-size: calc(var(--scale) * 2);
        color: hsl(0, 0%, 15%, 100%);
    }

    .insurance-photo-list {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
    }

    .insurance-photo {
        width: 50%;
        max-width: 20rem;
        height: auto;
        padding: calc(var(--scale) * 1.75);
    }

    @media only screen and (min-width: 1024px) {
        .insurance h3 {
            padding-bottom: calc(var(--scale) * 2.5);
            font-size: calc(var(--scale) * 3);
        }

        .insurance-photo {
            width: 25%;
        }
    }

    /*--SCHEDULE--*/
    .schedule {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        margin-top: 1rem;
        background-color: hsla(100, 15%, 20%, 100%);
    }

    .schedule-hero {
        display: flex;
        flex-flow: column nowrap;
        width: 100%;
        max-width: 50rem;
        height: auto;
    }

    .honest {
        display: flex;
        flex-flow: row nowrap;
    }

    .honest h4 {
        padding: 3rem 2rem 0.75rem 2rem;
        margin: 0;
        font-family: "Montserrat Alternates", sans-serif;
        font-size: clamp(1.5rem, 6vw, 3rem);
        font-weight: 300;
        font-style: normal;
        color:hsl(0, 0%, 60%, 100%);
    }

    .avoidance {
        display: flex;
        flex-flow: row-reverse nowrap;
    }

    .avoidance h5 {
        padding: 0.75rem 2rem 3rem 2rem;
        margin: 0;
        font-family: "Montserrat Alternates", sans-serif;
        font-size: clamp(1rem, 4vw, 2rem);
        font-weight: 300;
        font-style: italic;
        color:hsl(0, 0%, 60%, 100%);
    }

    .consultation {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        background-color: hsla(100, 15%, 35%, 100%);
    }

    .consultation h4 {
        padding: calc(var(--scale) * 1.5) calc(var(--scale) * 1.5) calc(var(--scale) * 0.75);
        margin: 0;
        font-size: calc(var(--scale) * 1.5);
        color: hsl(0, 0%, 5%, 100%);
    }

    .consultation p {
        text-align: center;
        padding: calc(var(--scale) * 1);
        width: 100%;
        max-width: 28rem;
        margin: 0;
        font-size: calc(var(--scale) * 1.125);
        color:hsl(0, 0%, 5%, 100%);
    }

    .consultation-links {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        width: 100%;
        max-width: 50rem;
        height: auto;
        padding: 0;
    }

    .consultation .book-now, .consultation .contact {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        height: auto;
        padding: calc(var(--scale) * 1.5);
    }

    .consultation .contact {
        justify-content: flex-start;
    }

    .consultation a {
        padding: calc(var(--scale) * 0.75) clamp(var(--scale) * 1, 3vw, var(--scale) * 1.25);
        border: none;
        border-radius: 2rem;
        text-decoration: none;
        font-size: calc(var(--scale) * 0.75);
        background-color: hsla(100, 15%, 20%, 100%);
        color:hsl(0, 0%, 60%, 100%);
    }

    .consultation a:link {
        color:hsl(0, 0%, 60%, 100%);
    }

    .consultation a:visited {
        color:hsl(0, 0%, 60%, 100%);
    }

    .consultation a:hover {
        cursor: pointer;
        background-color: hsla(100, 15%, 20%, 50%);
    }

    .consultation a:active {
        cursor: pointer;
        background-color: hsla(100, 15%, 20%, 75%);
    }
/*--END OF HOME PAGE--*/


/*--FOOTER--*/
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 0;
    border-top: 2px solid hsla(100, 15%, 20%, 100%);
    margin: 0;
}

.footer-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 60rem;
    height: auto;
}

footer p {
    text-align: center;
    padding: 0.125rem 2rem;
    margin: 0;
    font-size: calc(var(--scale) * 0.625);
    color:hsl(0, 0%, 5%, 100%);
}
